<div class="d-flex justify-content-between mb-4">
    <h5>Partida em Andamento</h5>
    <span>
        <a id="btn_iniciar" href="/partida/iniciar/{{partida.id}}" class="btn btn-success"><i class="fa-solid fa-play"></i> Iniciar Tempo</a>
        <a id="btn_pausar" href="/partida/pausar/{{partida.id}}" class="btn btn-danger"><i class="fa-solid fa-pause"></i> Pausar Tempo</a>
        <a id="btn_placar" href="/principal/placar/{{partida.id}}" class="btn btn-secondary" target="_blank"><i class="fa-solid fa-display"></i> Placar</a>
        <a href="/torneio/view/{{partida.torneio.id}}" class="btn btn-outline-secondary">Voltar</a>
        <script>
            var status = {{partida.status}}
            if(status == 1){
                document.getElementById('btn_iniciar').style.display = 'none'
            }else if(status == 2){
                document.getElementById('btn_iniciar').textContent = 'Reiniciar'
                document.getElementById('btn_pausar').style.display = 'none'
            }else if(status == 0){
                document.getElementById('btn_pausar').style.display = 'none'
                document.getElementById('btn_placar').style.display = 'none'
            }else{
                document.getElementById('btn_pausar').style.display = 'none'
                document.getElementById('btn_iniciar').style.display = 'none'
                document.getElementById('btn_placar').style.display = 'none'
            }
        </script>

    </span>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="text-center">{{partida.torneio.descricao}}</h3>
        <div class="row w-50 mx-auto">
            <div class="col-5">
                <h2 class="text-center">{{partida.time1}}</h2>
            </div>
            <div class="col-2 text-center">
                <h2>X</h2>
            </div>
            <div class="col-5">
                <h2 class="text-center">{{partida.time2}}</h2>
            </div>
        </div>
        <div>
            <h5 id="progresso" class="text-center text-success">(Em andamento)</h5>
            <script>
                status = {{partida.status}}
                if(status == 0){
                    document.getElementById('progresso').textContent = '(Em Breve)'
                }else if(status == 1){
                    document.getElementById('progresso').textContent = '(Em Andamento)'
                }else if(status == 2){
                    document.getElementById('progresso').textContent = '(Pausada)'
                }else{
                    document.getElementById('progresso').textContent = '(Encerrada)'
                }
            </script>
        </div>
        <hr>
        <form action="/partida/pontuar" method="post">
            <input type="text" hidden="hidden" value="{{partida.id}}" name="id">
            <div class="row w-50 mx-auto">
                <h3 class="text-center my-4">Gols/Sets</h3>
                <div class="col-5 d-flex justify-content-center">
                    <input type="number" name="ponto1" id="ponto1" style="font-size: 1.5rem; color:blue;" class="form-control-lg h-100 w-50" value="{{partida.ponto1}}">
                </div>
                <div class="col-2 text-center">
                    <h1>X</h1>
                </div>
                <div class="col-5 d-flex justify-content-center">
                    <input type="number" name="ponto2" id="ponto2" style="font-size: 1.5rem; color:blue;" class="form-control-lg h-100 w-50 " value="{{partida.ponto2}}">
                </div>
            </div>
            <div class="row w-50 mx-auto">
                <h3 class="text-center my-4">Faltas/Pontos</h3>
                <div class="col-5 d-flex justify-content-center">
                    <input type="number" name="faltas1" id="faltas1" style="font-size: 1.5rem; color:blue;" class="form-control-lg h-100 w-50" value="{{partida.faltas1}}">
                </div>
                <div class="col-2 text-center">
                    <h1>X</h1>
                </div>
                <div class="col-5 d-flex justify-content-center">
                    <input type="number" name="faltas2" id="faltas2" style="font-size: 1.5rem; color:blue;" class="form-control-lg h-100 w-50 " value="{{partida.faltas2}}">
                </div>
            </div>
            <div class="row w-50 mx-auto my-4">
                <h5 class="text-center">Tempo em Minutos</h5>
                <div class="col d-flex justify-content-center">
                    <input type="text" value="{{partida.tempo}}" placeholder="Tempo" name="tempo" id="tempo" class="form-control w-25" style="font-size: 1.5rem;">
                </div>
            </div>
            <p class="text-center"><a href="#">
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
            </a></p>
        </form>

        <hr>
        <div id="btn_fin" class="my-4 d-flex justify-content-around w-25 mx-auto">
            <a href="/partida/finalizar/{{partida.id}}" class="btn btn-danger"><i class="fa-regular fa-square-check"></i> Finalizar Partida</a>
        </div>
        <script>
            status = {{partida.status}}
            var logico = (status === '0') || (status === '3')
            if((status === '0') || (status === '3')){
                document.getElementById('btn_fin').style.display = 'none'
            }
        </script>

    </div>

</div>
